input {
  width: 95%;
}

.chat-container {
  padding-top: 20px;
  padding-right: 15px;
  position: absolute;
  bottom: 60px;
  overflow: scroll;

}

.chat-request {
  background: transparent;
  position: fixed;
  bottom: 0;
  padding: 25px;
  box-sizing: border-box;
  width: 100%;

}
