input {
  width: 95%;
}

//logs answers from the bot
.alert-info {
  border-radius: 40px 40px 40px 0;
}

//logs your requests to the bot
.alert-success {
  border-radius: 40px 40px 0 40px;
}

.chat-container {
  padding-top: 20px;
  padding-right: 15px;
  position: absolute;
  bottom: 60px;
  overflow: scroll;

}

.chat-request {
  background: transparent;
  position: fixed;
  bottom: 0;
  padding: 25px;
  box-sizing: border-box;
  width: 100%;

}
