.chat-request {
  background: white;
  position: fixed;
  bottom: 0;
  padding: 25px;
  width: 100%;
  overflow: scroll;
}

.chat-container {
  padding-top: 20px;
  position: absolute;
  bottom: 20px;

  // .alert-info {
  //   display: block;
  //   float: left;
  // }
  //
  // .alert-success {
  //   display: block;
  //   float: right;
  // }

}
